.wrapper-customer-btn {
  width: 300px;
}

.add-customer-btn {
  height: fit-content;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.export-customer-btn {
  height: fit-content;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
